@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

html,
body {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    background: rgba(10, 10, 10, 1);
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.board {
    border: 1px solid rgba(50, 50, 50, 1);
    background: rgba(20, 20, 20, 1);
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

.cell {
    border: 0.5px dashed rgba(50, 50, 50, 1);
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.target {
    background-color: rgb(94, 94, 94);
}
/* 
.ball {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin: 10px;
    border-radius: 100%;
}
*/
pre {
    display: inline;
}



/* Coloca o teu CSS a partir daqui */
.ball-0 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 120px;
    margin-left: 125px;
    border-radius: 100%;
}

.ball-1 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-left: 125px;
    border-radius: 100%;
}

.ball-2 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 212px;
    margin-left: 100px;
    border-radius: 100%;
}

.ball-3 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 290px;
    margin-left: 86px;
    border-radius: 100%;
}

.ball-4 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 245px;
    margin-left: 10px;
    border-radius: 100%;
}

.ball-5 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 290px;
    margin-left: 50px;
    border-radius: 100%;
}

.ball-6 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 370px;
    margin-left: 290px;
    border-radius: 100%;
}

.ball-7 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 12px;
    margin-left: 333px;
    border-radius: 100%;
}

.ball-8 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 250px;
    margin-left: 88px;
    border-radius: 100%;
}

.ball-9 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 370px;
    margin-left: 90px;
    border-radius: 100%;
}

.ball-10 {
    width: 20px;
    height: 20px;
    background: rgb(87, 64, 236);
    position: absolute;
    margin-top: 330px;
    margin-left: 130px;
    border-radius: 100%;
}